[2014-05-27 05:16] neonichu opened #1 "Problem with custom classes"
### From https://contentful.zendesk.com/agent/#/tickets/905:

Ok, I've managed to get the 784 entries as well on my project. My version of the cocoaPods was fine. Although I can replicate the issue: The problem is when I try to register a Class for ContentType so my code is:

[code]

If I don't call the register class methods it returns the correct amount of entries but it doesn't using the regist

[2014-06-10 09:45] neonichu opened #2 "Support one NSManagedObject subclass per Content Type in CDAPersistenceManager."
At the moment, there is only one `NSManagedObject` subclass for all Entries handled by one instance of `CDAPersistenceManager`. There should be the possibility to have one per Content Type.

[2014-06-17 12:44] neonichu opened #3 "Republishing an entry does not reinsert it into the database"
When publishing, then unpublishing and finally republishing an Entry while using `CDAPersistenceManager` with Core Data, the entry will not be reinserted into the database during the last step.

Steps to reproduce:
- create content in the web interface.
- run the app. (content appears correctly).
- unpublish an entry.
- run the app. (the unpublished entry is deleted from the database).
- republish

[2014-06-17 14:32] #3 closed, assigned to nobody

[2014-06-18 09:34] #1 closed, assigned to neonichu

[2014-07-06 20:18] sundeepgupta opened #4 "Fetching a persisted image failing due to an incorrect filename."
They way I'm reproducing this is by testing a flow involving seeding the images, deleting the app, going offline, launching the app, then trying to render a seeded image. There are 2 issues I'm seeing:

1 - The CDAClient does not have a Space set.

[code]

In CDAUtilities.m inside `NSString* CDACacheFileNameForResource(CDAResource* resource)`: When it builds the filename, the `resource.client.spac

[2014-07-10 09:46] #4 closed, assigned to neonichu

[2014-07-15 09:19] #2 closed, assigned to neonichu

[2014-07-21 01:58] sundeepgupta opened #5 "Fetching assets for seeding is terminating too early"
I was experiencing issues fetching image data with the sample code (which I modified) and finally realized with the help of Charles that the app was terminating too quickly before the images finished downloading asynchronously.

In https://github.com/contentful/contentful.objc/blob/master/Examples/SeedDatabase/CommandlineTool/main.m line 38, Removing `[NSApp terminate:nil]` seems to fix the issue.

[2014-08-01 01:38] sundeepgupta opened #6 "Assert in updatePersistedEntry:withEntry in CDAPersistenceManager"
I'm hitting this assert _sometimes_ and I'm not sure if this is correct. Its happening for a Content Type that I don't care about and have not mapped to any NSManagedObjects.

I'm guessing this code should not be getting hit in the first place, hence the assert.

[2014-08-15 02:43] sundeepgupta opened #7 "Fetching entries from API with query for multiple content types is failing."
I'm using CoreDataManager's `initWithClient:dataModelName:query:` to initialize the Core Data Manager and it works fine for a single Content Type. However, I'd like to set it up for multiple. I'm using the `[in]` operator, however it is not working for me. Here is my request and response:

Request:

[code]

Response:

[code]

[2014-08-24 03:21] sundeepgupta opened #8 "CoreDataManager#updatePersistedEntry:withEntry: crashing on relationship"
When processing an entry with a relationship, it is crashing for me. I believe it's because core data models require inverse relationships, but CF doesn't allow you to. Thus, when in this method, the `entryKeyPath` variable can be nil and crash when trying to set the `resource` variable.

I added a guard for this and it seems to work fine. Not sure if this is the best solution though.  Here is the

[2014-08-24 03:53] sundeepgupta opened #9 "Request: Move CoreDataManager into the SDK or its own repo"
It would be nice, but I understand this is probably not the highest priority.

[2014-08-29 03:35] sundeepgupta opened #10 "Crash in CDAEntry#mapFieldsToObject:usingMapping: saving to-many relationship"
We're getting a crash here with error:

[code]

I tried converting this to an NSSet, but then was crashing for another reason, which I didn't spend enough time to figure out.

[2014-08-31 22:55] sundeepgupta opened #11 "What is the best way to get an image's dimensions before requesting the file?"
We need to provide a custom calculated CGSize for an image asset based on UI specs. The calculation depends on the dimensions of the image, which seems like we don't have access to.

It seems there is a property on CDAAsset called `size`, which would return what we need, but it is not available for us, probably because we're not fetching in that specific way documented. We are fetching our data li

[2014-09-01 13:58] #9 closed, assigned to nobody

[2014-09-02 13:36] #7 closed, assigned to nobody

[2014-09-03 13:19] #11 closed, assigned to neonichu

[2014-09-03 13:56] #8 closed, assigned to neonichu

[2014-09-04 06:49] #6 closed, assigned to neonichu

[2014-09-11 08:50] #10 closed, assigned to neonichu

[2014-09-21 01:56] ghost opened #13 "When reading from disk cache, CDAAsset URL's are wrong, no reference to client"
When using:

`+(instancetype)readFromFile:(NSString*)filePath client:(CDAClient*)client`

for previously written cache, CDAAssets have badly formed URL's:

(null)://images.contentful.com/etc....

in this code block from CDAAsset.m, :

[code]

self.client is nil

URL should be in format:

https://images.contentful.com/etc....

[2014-09-24 14:06] #5 closed, assigned to nobody

[2014-09-25 08:04] neonichu opened #14 "Crash when using ordered relationships and CoreDataManager"
This exception occurs when using ordered relationships:

`2014-09-24 16:59:54.123 XXX[24056:60b] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Unacceptable type of value for ordered to-many relationship: property = "xxx"; desired type = NSOrderedSet; given type = __NSSetM;`

[2014-09-25 08:51] #14 closed, assigned to nobody

[2014-09-26 20:09] #13 closed, assigned to nobody

[2014-10-08 02:20] sundeepgupta opened #15 "Image caching and loading not working as expected"
We're loading images into our image views like so:

`[imageView cda_setImageWithPersistedAsset:persistedAsset client:client size:size placeholderImage:nil]`

The problem is that once the image is first downloaded and cached, the SDK will use that cached image, even when we ask for a different size. If we use a placholder image, this problem goes away.

I've investigated and believe the issue lies

[2014-10-12 21:11] omaxmedia90 opened #16 "Setting a text field and then setting it to empty"
Adding text to a text field in contentful, and then setting it to empty, should result in getting a nil value in objective-c.

example:

in objective-c, an empty text fields results in nil
set the textfield to have text, in the contentful admin.
in objective-c, the field has the proper string value
set the textfield to have no text, in contentful admin
in objective-c, the field should be nil again

[2014-10-21 09:19] #15 closed, assigned to neonichu

[2014-11-20 20:54] Jargen89 opened #18 "I don't think pre-seeding is working as it should"
I don't see main.m in the "OS X commandline tool" folder ever running. Could you provide more detailed instructions on how to get pre-seeded content working?

[2014-11-25 22:43] olegmorajko opened #19 "Space writeToFile extremly slow"
The following code is very slow persisting synced space data to local disk:

[code]

We are using only 334 entries and 83 assets. Running on Simulator on iMac i7.

Could you please help?

[2014-12-01 12:02] #18 closed, assigned to nobody

[2014-12-01 13:43] #19 closed, assigned to neonichu

[2014-12-09 22:27] neonichu opened #22 "RealmManager: Improve relationship support"
- [ ] Use `RLMObjectSchema` instead of ObjC runtime API
- [ ] Support One-To-Many relationships

[2014-12-11 11:41] neonichu opened #23 "Move tests and examples related to persistence out of this repo"
Should reside alongside the code in the new *contentful-persistence.objc* repository.

[2014-12-11 11:44] neonichu opened #24 "Reduce download size of initial clone"
A bunch of stuff is not needed for many use-cases:

- *Pods* directory could be a submodule (18MB)
- Recordings for tests could be a submodule (11MB)
- Binary framework is already on S3 and GH releases (14MB)

[2015-01-13 15:49] AdrianFerreyra opened #25 "Problem instantiating CDAContentType on space migrated from StorageRoom."
I've migrated from StorageRoom to Contentful, using the tools provided by the first to do so. Now, when I try to use contentful's delivery API for Obj-C, I get an exception when initializing the CDAFields of a CDAContentType object.

![screen shot 2015-01-13 at 12 47 00](https://cloud.githubusercontent.com/assets/4059729/5723382/6a89f90a-9b22-11e4-9485-bcf479beb6bc.png)
![screen shot 2015-01-13 at

[2015-01-13 16:31] neonichu commented on #25
I think this is related to the bug fixed in 54578dda12624e8f853ce764c44717b1f14623a3.

There hasn't been a new release including this fix, could you try this out by changing your Podfile to:

[code]

and doing a `pod install`

[2015-01-13 17:04] AdrianFerreyra commented on #25
Thank you so much for your response!

[2015-01-13 17:15] neonichu commented on #25
Great that it works - since this seems to be a somewhat common issue, I'll cut a new point-release of the SDK, then you'll be able to move off `:head` again.

[2015-01-15 19:30] neonichu commented on #25
Fix is included in the just released version 1.4.8: <https://github.com/contentful/contentful.objc/releases/tag/1.4.8>

[2015-01-15 19:30] #25 closed

[2015-01-26 15:52] jameshays opened #26 "invalid CDAAsset URL"
There are times when the weak client reference in a CDAAsset will be nil.  It appears that there is limited (but important) usage of self.client in the asset, but would it be possible or warranted for the URL to be created when the Object is created so that it is not dependent on client.  When client is nil for whatever reason, the URL schema comes back as (null):// which is then invalid.

[2015-01-26 15:58] neonichu commented on #26
Good catch, it would make sense to query the protocol during object creation, so that the client is not needed for this anymore.

[2015-01-26 15:59] jameshays commented on #26
Or make the client a strong reference, but I can see your reasonings for not doing this as well.

[2015-01-27 15:25] #26 closed

[2015-02-06 18:57] jameshays commented on #26
When will this fix be in the updated podspec?

[2015-02-11 17:10] neonichu commented on #26
The change is available in 1.4.9 which was just released: <https://github.com/contentful/contentful.objc/releases/tag/1.4.9>

BTW, as we aim to always keep master stable, you can also use `:head` or `:commit` in your Podfile to temporarily switch to not yet released code.

[2015-02-17 17:18] yood opened #27 "Object fields are not returned"
I have a content type with an Object field (arbitrary JSON).

However, when I fetch an entry of that content type, it doesn't return that Object field at all.

I went down to curl and found that that field wasn't returned at all.

`curl -X GET -H 'Authorization: Bearer <token>' https://cdn.contentful.com/spaces/space-id/entries/entry-id`

Can you add support for fetching fields of type Object?

Da

[2015-02-17 17:23] yood commented on #27
I called the management API instead and there, it returned the field of type Object.

Is this by design? If so, please update the documentation!

[2015-02-17 17:57] neonichu commented on #27
Is this an unpublished change by any chance? The CDA will only return the published state of resources, while the CMA will also return not yet published content.

[2015-02-18 23:44] yood commented on #27
It was unpublished, sorry!

[2015-02-18 23:44] #27 closed

[2015-03-12 13:43] neonichu commented on #24
[code]

is now 2MB :tada:

[2015-03-12 13:43] #24 closed

[2015-03-12 13:45] neonichu commented on #24
Full clone is 20MB, Pods and binary frameworks have been purged from the history. It's quite some work to remove the fixtures and recordings as they were spread out, so this should be enough for now.

[2015-03-12 13:48] neonichu commented on #24
Installing the latest version into a project via CP takes less than half the time now \o/

Before: 0m25.365s
After: 0m11.861s

[2015-03-13 17:43] neonichu commented on #16
Closing this, as it is not actionable here.

[2015-03-13 17:43] #16 closed

[2015-04-11 10:38] hanneskl opened #28 "Entries loose all assets when using the sync API"

[2015-04-11 11:39] neonichu commented on #28
Could you elaborate a bit on how you use the sync API in order to see this issue?

Ideally, please also share your space credentials with us via support@contentful.com - thanks!

[2015-04-11 11:46] hanneskl commented on #28
I used to use fetchEntriesMatching
and everything was working fine.

I switched to initialSynchronizationWithSuccess
but now all CDAAssets in my  CGAEntries are nil.

I checked the original data coming over http and the assets are included
there.

On 11 April 2015 at 13:39, Boris Bügling <notifications@github.com> wrote:

[2015-04-13 11:53] neonichu commented on #28
Fixed in a8e4480b2a9af79ccbfa703075392c61dd4f961a

For the meantime, you can use:

[code]

to use this fix - it will be included in the next release of the SDK as well.

[2015-04-13 11:53] #28 closed

[2015-07-06 11:58] neonichu opened #31 "Allow opt-in to using preview tokens in production builds"
Currently, the SDK will assert if one uses preview tokens in a non-debug build. We should allow users to override this behaviour if they need to.

[2015-07-08 09:02] neonichu opened #32 "Extend `CDAPersistedAsset` with more metadata"
Currently the `title` and `description` are not stored.

[2015-07-23 09:17] neonichu opened #33 "Fix or remove synchronisation fallback for linked entries"
In case linked entries are not available locally, the `CDASyncedSpace` will request additional content after a synchronisation. This is a fallback that normally shouldn't be hit, but it should still operate properly.

It is implemented here: <https://github.com/contentful/contentful.objc/blob/master/Code/CDASyncedSpace.m#L311>

There are currently two issues with it:

- it is not deduplicating ent

[2015-07-29 09:15] neonichu opened #34 "Testsuite breaks on Xcode 7.0 / iOS 9 beta"
Blocked by <http://www.openradar.me/radar?id=4833948580446208>

[2015-08-19 17:26] neonichu opened #35 "Support for wildcard locale queries"
See contentful/slash-developers#55

Currently, those queries will trigger an assertion.

[2015-08-21 11:45] #35 closed

[2015-08-24 13:45] neonichu commented on #33
The fix we're going to do is removing this fallback entirely. The correct way to get all links resolved is to either use one of our supported persistence methods (`NSCoding`, Core Data or Realm) or to implement a custom `CDAPersistenceManager`. If neither of those routes are taken, links will have to be resolved manually from now on.

[2015-08-24 13:54] neonichu commented on #34
Seems like this has been fixed by Xcode 7.0 beta 5.

[2015-08-24 13:54] #34 closed

[2015-08-24 14:34] #31 closed

[2015-08-24 14:34] #33 closed

[2015-09-24 21:27] neonichu commented on #23
Integrating CoreData classes via the ContentfulPersistence Pod now since 0ae8ce85f5aeee1d48e278e13787551ec300b1d7 — this is not a perfect solution, but works.

[2015-09-24 21:27] #23 closed

[2015-09-28 14:25] neonichu opened #42 "Document the use of multiple locale support in `CDAPersistenceManager`"
Currently, the only thing that exists is this test case <https://github.com/contentful/contentful.objc/blob/master/Tests/CoreDataMultipleLocalesTests.m#L52> and the mention inside the release notes.

[2015-12-15 10:29] neonichu opened #46 "Fix usage by the CMA SDK"
Switching to a statically defined list of `CDAResource` subclasses in c5fb9bad539d90371be38754c15d05f6205428fe had the undesired effect of breaking the CMA SDK, because it relied on the list being dynamically computed. The issue doesn't appear in production, because it correctly locks to an older version, but once we want to update the CDA SDK dependency, it will no longer work.

[2015-12-15 14:44] neonichu commented on #22
Since `RLMObjectSchema` is using the runtime API anyway and it seems like no one is actually utilising the Realm support so far, let's close this. Can be revisited when a need arises.

[2015-12-15 17:07] neonichu commented on #46
Currently working around this in the CMA SDK using [this](https://github.com/contentful/contentful-management.objc/commit/64c0180e12bc04bee088d78e2c8c2058b6cc5288)

[2015-12-15 17:10] neonichu opened #47 "Support for AFNetworking 3"
Eventually, people will be migrating to AFNetworking 3 for their apps, leading to a conflict with the CDA SDK, especially when using CocoaPods. We should start a 2.0 branch which moves away from AFNetworking 2.x for midterm evolution. Another option would be to move people over to [contentful.swift](https://github.com/contentful/contentful.swift).

[2015-12-15 17:11] neonichu commented on #47
Main obstacle going AFNetworking 3.0 is that the `NSURLConnection` based API is gone, so is support for iOS 6.

[2016-01-19 02:15] jacobsologub opened #48 "iOS sdk result differs from REST api result when using the same parameters"
I'm trying to fetch entires using the iOS sdk with "content_type" and "include" parameters but I'm missing assets in nested entires. The same cURL call with the same parameters includes everything. Is there something special that needs to be done in order to get all assets in all nested entries?

Thanks

[2016-01-19 02:30] #48 closed

[2016-02-03 03:55] dmorrow opened #49 "Crash when returning from background during performSynchronization()"
We are using CoreDataManager.performSynchronizationWithSuccess, failure and some of our testers are getting a crash when we put the app into the background and then bring it forward during sync.
Its not generating any crash logs, so its a bit tough to share more details

[2016-02-03 12:51] neonichu commented on #49
I'm thinking the most probable cause is a Core Data concurrency issue, you could try running the app from Xcode using `-com.apple.CoreData.ConcurrencyDebug 1` as a launch argument and see if something turns up.

[2016-02-04 14:36] dmorrow commented on #49
Turns out this was not a crash at all, but rather a delay due to extended processing that we were doing in CoreData in `applicationWillEnterForegroundNotification`.  On older devices, this processing didn't complete in enough time, so the app didn't return to the foreground.  As a result the app was getting shut down with ```Exception Codes: 0x000000008badf00d
Exception Note:  SIMULATED (this is N

[2016-02-04 14:36] #49 closed

[2016-02-05 09:45] neonichu opened #50 "Offer Realm persistence manager as a Pod"
Currently, it lives in this repo as example code, we should move it to <https://github.com/contentful/contentful-persistence.objc> and offer it as a subspec.

- [x] Move into ContentfulPersistence
- [x] Make updates for latest version of Realm if needed
- [x] Update test suite if needed

[2016-02-07 17:30] colinbrash commented on #50
It looks like `-[RealmManager relationshipsForClass:]` is very fragile/limited and not actually doing what it really needs to do.  Two things jump out at me:
1. It assumes all Realm objects are strict descendants of `RLMObject`.  This is not necessarily true since Realm allows (limited) model inheritance: https://realm.io/docs/objc/latest/#model-inheritance
2. There is no support at all for to-man

[2016-02-08 10:02] neonichu commented on #50
@colinbrash these are indeed issues which were never addressed. I have reopened #22 to track them.

[2016-02-22 14:43] neonichu commented on #50
This is in-progress now in this branch: <https://github.com/contentful/contentful-persistence.objc/tree/realm-support>

[2016-02-23 15:07] neonichu commented on #50
Tests are updated locally, but Realm to-many relationships don't work with Xcode 6.4 which is still a supported version of this. So there'll be some fiddling before the updated test suite can land in `master`.

[2016-02-23 15:08] #22 closed

[2016-02-23 15:08] #50 closed

[2016-02-24 14:24] neonichu commented on #50
Since `d9e7c3f077d55d48420b9e7f2d0e8aa87f1ae517`, the tests for this are in `master`.

[2016-04-11 13:34] #32 closed

[2016-05-12 15:28] dmorrow commented on #47
@neonichu Any thoughts on this migration or contentful.swift supporting CoreData persistence?  We have other dependancies that have started requiring AFNetworking 3, so we are stuck using older versions and missing out on fixes.

[2016-05-12 22:57] mrrobby commented on #47
I'd be in favor of moving to `AFNetworking ~> 3.0`.  `NSURLConnection` is getting a lot of deprecation too so I believe that to be a weighting factor.  Apple reports less than 5% of devices are using `iOS < 8.0` too.  If you do migrate, one feature request would be to expose the AFSecurityPolicy through the client (or configuration) so we can at least pin to the root CA.  We'd be happy to help out

[2016-05-13 08:19] neonichu commented on #47
Yah, this should definitely happen at some point. There's an unfinished branch at <https://github.com/contentful/contentful.objc/tree/2.0-dev> which is now quite out of date in regards to `master`.

Regarding `contentful.swift`, there is <https://github.com/contentful/contentful-persistence.swift> now, albeit it is still a bit in its early stages.

[2016-05-31 22:15] neonichu commented on #47
Brought the branch up to date with current `master`, but the full test suite isn't running, yet. However, it should be fine for testing it if you urgently need to switch to AFNetworking 3:

[code]

[2016-05-31 22:25] mrrobby commented on #47
Awesome!  Thanks @neonichu.  Is there an open issue for setting the security policy for pinning to the root CA as an option?  You're API is put together well in that it could be exposed easily, maybe as part of the `CDAConfiguration`.  Would you see any concerns in doing that?

[2016-05-31 22:43] neonichu commented on #47
@mrrobby don't see any concerns, could you open an issue for it? Thanks 👍

[2016-06-01 19:38] mrrobby opened #53 "Support for SSL Certificate Pinning"
Allowing for some SSL cert pinning in the Delivery APIs could help tighten security.

As of AFNetworking 2.6.0, the `AFSecurityPolicy` has been refined to remove entire chain validation, replaced with the recommendation to pin to the root CA or an intermediate cert.  `iOS 9` has made some updates in this direction too.  Now that it has been sorted, for versions using AFNetworking  2.6 and above, e

[2016-06-01 19:40] mrrobby commented on #47
You got it.  See #53

[2016-06-16 12:35] M2Bas opened #54 "Transparent images with offline caching"
When using the build in UIImageView+CDAAsset extension to display images and use it's internal offline caching ,`offlineCaching_cda` set to `YES`. All images that have transparency will have a black background instead of the transparency.

This is caused by the following line :
https://github.com/contentful/contentful.objc/blob/master/Code/UIKit/UIImageView%2BCDAAsset.m#L86

As stated in the docum

[2016-06-16 17:06] neonichu commented on #54
Total oversight, I'll change the setting in the next release

[2016-06-23 08:34] #54 closed

[2016-06-23 08:35] neonichu commented on #42
Closing this for now as no one has been using this feature so far. We can document it in more detail once the need arises, the test should suffice as basic usage example.

[2016-06-23 08:35] #42 closed

[2016-08-03 07:26] CrazyPro007 commented on #47
Hello neonichu,

Please let me know asap that the stable branch having support for AFNetworking 3.0 in objective c is exist or not.
If exist than please provide me the pod setup path as i am using this path (pod 'ContentfulDeliveryAPI', :git => 'https://github.com/contentful/contentful.objc', :branch => '2.0-dev') and it giving error while installing.

Its urgent.

[2016-08-04 17:39] neonichu opened #56 "Create a contribution document"
The separate "Data" submodule for test fixtures makes contributing a little bit non-standard, so we should definitely document that.

[2016-08-04 17:40] neonichu commented on #47
@CrazyPro007 could you please share which errors you're seeing?

This branch should be stable, there are just some smaller issues with the test suite which haven't been resolved, yet and those block merging this to `master`.

[2016-08-04 18:04] mrrobby commented on #47
@CrazyPro007, what version of CocoaPods are you running?  The lock file is showing an older version so if you are on 1.0, maybe try switching to 0.38.2 and try again.

[2016-08-08 05:48] CrazyPro007 commented on #47
@neonichu i am using cocoapods version 1.0 and troubling with  following errors.

[!] Error installing ContentfulDeliveryAPI
[!] /usr/bin/git clone https://github.com/contentful/	contentful.objc /var/folders/m6/fp4xfrdx5mx7y0gryyw_ryym0000gn/T/d20160808-22421-17nowla --template= --single-branch --depth 1 --branch 2.0-dev

Cloning into '/var/folders/m6/fp4xfrdx5mx7y0gryyw_ryym0000gn/T/d20160808-224

[2016-08-08 09:51] neonichu commented on #47
@CrazyPro007 that error looks like there is a problem with your connection to GitHub rather than with the branch — are you able to successfully clone other branches of the same repo?

[2016-08-08 09:54] CrazyPro007 commented on #47
@neonichu

I am successfully able to clone the other branches from github and even your branch #pod 'ContentfulDeliveryAPI'

[2016-08-08 09:57] neonichu commented on #47
@CrazyPro007 can you share your Podfile please, I'm unfortunately not able to reproduce this

[2016-08-08 10:02] CrazyPro007 commented on #47
@neonichu
Pod file unable to upload so i am uploading the pdf file.

[Podfile.pdf](https://github.com/contentful/contentful.objc/files/406541/Podfile.pdf)

[2016-08-08 10:10] neonichu commented on #47
Looks like there are some accidental extra characters in the repo URL, please try this Podfile instead:

[code]

[2016-08-08 10:15] CrazyPro007 commented on #47
Thanks @neonichu
It working fine now.

[2016-08-08 18:11] Conrad-m-wise opened #57 "Empty pod when running Pod Update"
Hi,

I am getting an empty pod when i run pod update with -> pod 'ContentfulDeliveryAPI', '1.10.2' or pod 'ContentfulDeliveryAPI', '1.10.3'. If i set the version to pod 'ContentfulDeliveryAPI', '1.10.1' i get the source files.

[2016-08-11 11:12] neonichu commented on #57
That's quite strange, I can't see any issues with those tags — could you try running `pod cache clean` and retry?

[2016-08-11 11:50] arpanCode opened #58 "Not able to run project. Some files missing."
At first Pods are empty.Once i fixed that by creating new pod file. Then Some files are missing Can you help me ?

[2016-08-11 12:52] neonichu commented on #58
Did you also fetch the submodules? You can do so by either doing `git clone --recursive` or `git submodule update --init` after the fact.

[2016-08-11 13:11] arpanCode commented on #58
Thanks neo ! For quick reply.
 Done. But now pods are not installing. Podfile have some unexpected syntax errors .

[2016-08-11 13:36] neonichu commented on #58
Please run

[code]

to make sure you're using the correct version of CocoaPods.

[2016-08-11 15:46] Conrad-m-wise commented on #57
Fixed it thanks.

[2016-08-11 15:46] #57 closed

[2016-08-12 10:18] arpanCode commented on #58
@neonichu
Can you please help me to get access_token. I am going through the my account i am able to get api keys/ space key but where i can find  access_token ??

[2016-08-12 11:07] neonichu commented on #58
API key and access token are basically the same thing.

[2016-08-12 11:08] arpanCode commented on #58
Okay. Thanks Neo !

[2016-08-12 12:29] #58 closed

[2016-08-12 13:24] Conrad-m-wise opened #60 "Unacceptable type of value for attribute "assetDescription""
I am getting this crash on trying to sync content (initial).

 *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Unacceptable type of value for attribute: property = "assetDescription"; desired type = NSString; given type = NSNull; value = <null>.'

For an asset with fields:

asset->_localizedFields:
{
    "en-US" =     {
        description = "<null>";
        f

[2016-08-12 13:33] Conrad-m-wise commented on #60
Confirmed this error happens on version 1.10.3 rolling back to version 1.10.2 i do not get this error anymore.

[2016-08-15 12:40] neonichu commented on #60
I wasn't really able to reproduce your issue, but I think this change should still resolve it: <https://github.com/contentful/contentful.objc/tree/fix-sanitize-persisted-asset-input> — could you give it a quick spin?

Using

[code]

in your Podfile should allow testing it.

[2016-08-16 12:10] Conrad-m-wise commented on #60
Boris,

I just tested it out and i am not getting the same error. It seems to have fixed the issue.

[2016-08-16 12:11] #60 closed

[2016-08-16 12:11] neonichu commented on #60
Thanks for testing, I have merged it and will make a new release soon.

[2016-08-22 13:21] neonichu commented on #60
Released as 1.10.4

[2016-09-12 05:39] arpanCode opened #62 "Crash ContentfullDelivery request/response when try to use contentfullManagement apis in same project"
Hi,
I have beed using contentfulDelivery api for last 3 weeks they were working fine.
Today when i am integrating CMAClient in project and creating shared instance, after integrating management client,  every time delivery api calls  getting crash while deliveryReponse

2016-09-09 16:04:21.074 Obino[12655:1408269] *** Assertion failure in -[CDARequestOperationManager fetchArrayAtURLPath:parameters

[2016-09-13 14:09] neonichu commented on #62
Duplicate of contentful/contentful-management.objc#14, let's discuss it over there.

[2016-09-13 14:09] #62 closed

[2016-09-30 16:08] davidmdavis opened #64 "iOS 10 NSKeyedUnarchiver Error"
Hi,

I am having a strange issue with my app when running on iOS 10. I'm using version 1.10.4 of this library.

Here's the scenario:

[code]

The sync and write are working fine, and I can see the space saved on the file system. When I try to read the space from the file, the space is nil. I stepped through the code and the following exception is being caught on line 204 in the CDAReadItemFromFile

[2017-01-13 13:12] loudmouth opened #68 "Add more info to User-Agent HTTP Header"
We should know more information about SDK usage including,

- Operating system version
- Device Name
- Other?

Also, we should try to avoid hardcoding the SDK version in the User-Agent

[2017-01-13 17:17] loudmouth commented on #47
Support for AFNetworking 3 has been moved to a new branch: #67

[2017-01-31 18:59] phoumano commented on #64
David I am having this same issue. Did Contentful ever commit a fix? If not did your temporary fix in CDAUtilities work pretty well?

[2017-01-31 20:38] davidmdavis commented on #64
They did not commit a fix as far as I know. I haven't had time to test the latest versions that have been released, however. We have been using the temporary fix I committed since October 2016 with no issues.

[2017-02-01 09:03] loudmouth commented on #64
Hi  @davidmdavis and @phoumano . Apologies for the delay in getting to this issue. I will start looking into a fix today. Just to let you know, the next release will be with AF-Networking 3 support and drop iOS 7 support—this has already been merged into `master`, so when I push a fix for this issue it will be without iOS 7 support and `NSURLConnection` api

[2017-02-01 10:08] loudmouth commented on #64
I must admit that I have no idea where the `_px_reuseIdentifier` key is coming from.

@davidmdavis  would you be willing to submit a PR with your fix?

[2017-02-01 10:10] #47 closed

[2017-02-01 10:12] loudmouth commented on #53
Hi @mrrobby, support for AF-Networking 3 has officially been merged into `master` (not yet published; but usable), but I have not yet addressed your concern.

I hope to attend to it in the coming week.

[2017-02-01 11:00] loudmouth commented on #64
Indeed it looks like `_px_reuseIdentifier` is a new addition to the [Objective-C runtime in iOS 10](https://github.com/JaviSoto/iOS10-Runtime-Headers/blob/master/lib/libobjc.A.dylib/NSObject.h).

The SDK has some logic to determine all the property names of a class before encoding it, and choose which of those properties to ignore. The preview maintainer of the project left no comments as to why t

[2017-02-01 13:00] loudmouth commented on #64
@davidmdavis @phoumano would you be able to give branch `bugfix/Issue-64-NSKeyedArchiver-exception` a try? See #69

[2017-02-01 22:16] phoumano commented on #64
So if I am reading this correctly pulling this branch will require AFNetworking 3.0+?

[2017-02-02 06:29] loudmouth commented on #64
@phoumano yes that is correct—it is a sub-dependency so it will be resolved automatically by cocoapods rather than requiring you to manually pull.

If you are not ready to migrate to AFNetworking 3, I suggest using the patch @davidmdavis made. It will certainly fix the issue for now, but it will not prevent a similar issue from arising when Apple makes future changes to the Objective-C runtime, fo

[2017-02-15 18:03] loudmouth commented on #64
[`v2.0.0`](https://github.com/contentful/contentful.objc/releases/tag/2.0.0) has been released.

[2017-02-15 18:03] #64 closed

[2017-05-02 14:20] #46 closed

[2017-05-10 22:03] dmorrow opened #81 "tvOS support"
The tvOS branch hasn't been updated in a number of years.  Is there any update on tvOS support?

[2017-05-11 09:33] loudmouth commented on #81
Hi @dmorrow thanks for bringing this up. I'd recommend using [contentful.swift](https://github.com/contentful/contentful.swift) for tvOS projects. Version [0.4.0-beta2](https://github.com/contentful/contentful.swift/releases/tag/0.4.0-beta2) implements all the same features that this repo does and so far I haven't heard of any issues that would raise concern. It is installable for tvOS via both ca

[2017-05-11 09:35] loudmouth commented on #81
That being said, if you already have a project using this SDK that runs on iOS, I can consider moving tvOS support up higher in priority.

[2017-05-11 10:53] dmorrow commented on #81
Thanks @loudmouth - we currently have an iOS project in Swift which uses the objc versions of the SDK and persistence.  Except for the management portion, is there anything else missing between these two libraries?  We don't need management features.

[2017-05-11 10:56] loudmouth commented on #81
The main thing missing from the Swift SDK is a Swifty API to communicate with Contentful's images API. This is on the roadmap to be implemented and hopefully will be out in the next 2 months.

[2017-05-12 00:56] va7map opened #82 "CDASyncedSpace lastSyncTimestamp is not set to the timestamp of the last synchronization operation"
The `lastSyncTimestamp` property in CDASyncedSpace appears to represent the newest `sys.updatedAt` date among all items, rather than the "timestamp of the last synchronization operation" as indicated in the [docs](http://cocoadocs.org/docsets/ContentfulDeliveryAPI/1.0.0/Classes/CDASyncedSpace.html#//api/name/lastSyncTimestamp).

As far as I can tell, the property gets updated in these two places:

[2017-05-15 08:56] #68 closed

[2017-05-15 09:43] loudmouth commented on #82
Hi @va7map , it looks like you are correct, and that the `lastSynceTimestamp` property on `CDASyncedSpace` is misleading. As far as moving forward with a fix, there are two considerations to take into account:

1. The `/sync` endpoint does not actually send a timestamp in the response, which means that if we want to save a timestamp...
2. The timestamp should likely be marked locally by the SDK us

[2017-05-15 17:35] va7map commented on #82
I was looking for other solutions to get the timestamp when I found the `Date` HTTP response header from the `/sync` endpoint. It seems to indicate when the response is generated and is present in both initial and subsequent synchronizations.

Can that be used to set the `lastSyncTimestamp` property?

[2017-05-16 09:25] loudmouth commented on #82
This is a great solution, we just need to beware of timezones as the header is always returned in GMT. I think it would probably be best to leave the logic of timezone adjustment up to the SDK consumer.

I will begin working on a pull request for this issue later in the week—if this delay is too long for you, just let me know if you would like to work on an implementation on your own.

[2017-05-16 17:29] va7map commented on #82
Sounds good. I think `NSDate` handles timezone logic and conversion pretty well, so it shouldn't be an issue as long as it's parsed with the GMT timezone intact.

And no rush! I have a temporary workaround in place until the SDK is fixed.

While we're at it, would it make sense to add the `lastSyncTimestamp` property to the `NSCoding` methods so it can be retrieved from a serialized synchronized S

[2017-05-19 08:22] loudmouth commented on #82
Hey @va7map , I will have to do this first thing next week. Got bogged down with work this week.

[2017-05-19 17:16] va7map commented on #82
Thanks for the update. Let me know if you need more details from me.

[2017-05-22 15:02] loudmouth commented on #82
Hey @va7map , just a heads up that I started working on this today. It turns out that the `lastSyncTimestamp` was used internally by the SDK for auxiliary reasons despite it's outward facing documentation. I expect this to take another day or two.

[2017-05-24 08:54] loudmouth commented on #82
After some serious investigation and experimentation, I am unsure if changing the date that is stored in the `lastSyncTimestamp` is something that can be done at the moment. It turns out that the intention of this property is not necessarily to signal how much time has passed since the last sync operation was performed. Rather, it is intended to be used to implement logic about updates to `Entry`

[2017-05-26 01:25] va7map commented on #82
Thanks for looking into this. If `lastSyncTimestamp` is used internally for another purpose, I agree that we shouldn't change that. However, perhaps it would make sense to update the documentation to clarify its role. I think that describing it as the "timestamp of the last synchronization operation" is a bit misleading because it really is the timestamp of the most recently updated entry or asset

[2017-05-30 08:54] loudmouth commented on #82
It definitely makes sense to update the documentation for this property, and I will make sure to do that this week.

and yes, I do think it should be added to the `NSCoding` methods. I will fix this in the same PR as the documentation fix.

[2017-05-30 11:40] loudmouth commented on #81
@dmorrow any updates?

Looking to close this ticket if everything is OK on your end.

[2017-05-30 20:03] paywithextend commented on #81
I think we're fine for now - will give a shout with any issues.

[2017-05-30 20:09] dmorrow commented on #81
I think we're fine for now - will give a shout with any issues.

[2017-05-31 07:30] loudmouth commented on #81
Thanks. Closing for now. Happy coding :-)

[2017-06-01 14:11] loudmouth commented on #82
@va7map feel free to leave comments on #86.

[2017-06-02 08:57] #82 closed

[2017-06-02 17:16] va7map commented on #82
@loudmouth I appreciate your help on this

[2017-08-09 11:01] #56 closed

[2017-09-12 12:37] AshishPatel48 opened #88 "Not Runing in iOS Device"
In Select device only show Mac , How can i run in iOS Device simulator..?

[2017-09-12 15:06] loudmouth commented on #88
Hi @AshishPatel48 , unless I'm missing some key information here—this is not an issue with the SDK as far as I can tell. You must configure your Xcode project as an iOS project in order for iOS simulators to show up as build destinations. You can also open the "Devices" window in Xcode to edit what simulators show up.

[2017-09-13 05:43] AshishPatel48 commented on #88
Can you please share any link for iOS SWIFT project sample.?

[2017-09-13 12:18] AshishPatel48 commented on #88
Hi One Last Question Please Help

I Have total data :-

<__NSArrayI 0x17410be20>(
CDAEntry 50ae1TT60M6q6AAa8kqmIS with fields:{
    attributeName = Texture;
},
CDAEntry 2Q7q4vWbxS0aeuqAScUCiw with fields:{
    attributeName = Thickness;
},
CDAEntry 2NZQB0AwDYqQ04USokIsmu with fields:{
    attributeName = "Texture and Strength";
},
CDAEntry 4pya6IjfbiYymUS0YgswGK with fields:{
    attributeName = "

[2017-09-13 13:27] AshishPatel48 commented on #88
How to filter data in iOS objective C?

[2017-09-19 12:27] loudmouth commented on #88
Hi @AshishPatel48, apologies for the delayed response, i was on vacation last week.

Filtering for an entry which references a body part with id `f5T4tJHFIssMgEMQwyQ2O` would requires you to specify the content type of the item being referenced, and also specify the source item that holds the reference. See [Contentful's documentation for Searching on References](https://www.contentful.com/develop

[2017-09-19 12:31] loudmouth commented on #88
I'm closing this ticket for now as it's a usage related question and not a bug or issue with the SDK. Also, feel free to reachout at support@contentful.com if you are having trouble with usage in the future.

[2017-09-19 12:31] #88 closed

[2017-09-21 23:58] evanhughes3 opened #90 "Failing to compile on iOS 11 simulators Xcode 9"
Hello.  I am using v2.0.3 of `ContentfulDeliveryAPI` pod, and am getting a build error when trying to build on iOS 11 simulators.  I just updated Xcode to test on iOS 11.

Error is happening here:
https://github.com/contentful/contentful.objc/blob/master/ContentfulDeliveryAPI/Resources/CDAEntry.h#L12

Error message: `Error:(12, 24) expected "FILENAME" or <FILENAME>`

Is there a reason why it was r

[2017-09-22 10:37] loudmouth commented on #90
Hmm... not sure how this got merged. Thanks for opening the issue. Will have a fix out asap.

[2017-09-22 12:18] loudmouth commented on #90
@evanhughes3 could you check out [this branch](https://github.com/contentful/contentful.objc/pull/91) and let me know if everything is working for you?

[2017-09-22 17:52] evanhughes3 commented on #90
Yes that did fix it! Thanks for the quick reply.

What I am not sure about is why `__has_feature(modules)` is false for this particular pod.  And it only seems to happen when running my "Specs" target.  When I run my App target, it worked even before your fix, meaning it was loading the `@import MapKit;`  I'm starting to wonder if something got funny in my target configuration, and that this is no

[2017-09-25 08:26] loudmouth commented on #90
I see. Regardless of if there is an issue with your specs target, there certainly were compilation issues with Xcode 9 that had to be fixed. I'm going to merge those changes, but leave this issue open for now. Would you be willing to provide an update when you find out what is causing your target to compile without module support?

[2017-09-25 15:46] evanhughes3 commented on #90
Ok sounds good.  Yes, if I figure it out I'll leave a follow up comment here.  Thanks!

[2017-09-26 12:24] AshishPatel48 commented on #88
Thank you very much for your support.

Need one more help, Can u please let me know how to get multi value para like

sys.id":@"xyz"
But how to het 2 id data like
sys.id = "xyz , abs"

[2017-09-26 12:33] AshishPatel48 commented on #88
"sys.id.likes[all]" : [@"79svHaHUYgM06CwcmE2cQm",@"5F1elxU9MWCCqeIe60smYM"]

I am trying this way bit didn't work

[2017-09-27 15:14] loudmouth commented on #88
Hey @AshishPatel48 your query should not include the "likes":

[code]

[2017-09-28 04:54] AshishPatel48 commented on #88
Okey Thank you very much but I got solution
@{
  @"sys.id[in]" : @[@"79svHaHUYgM06CwcmE2cQm",@"5F1elxU9MWCCqeIe60smYM"]
};

[2017-09-28 05:17] Sethmr commented on #90
The pod ObjectMapper that is being used by you has a Swift 4 version available, but the version you are using is 2.2.9... Could you fix this so that Swift 4 projects can build?

[2017-09-28 09:25] loudmouth commented on #90
Hi @Sethmr I think you want to be opening an issue at [contentful.swift](https://github.com/contentful/contentful.swift) as this is the objective-c sdk.

Swift 4 projects should be building with contentful.swift anyway as you can use Swift 3.2 frameworks in swift 4 projects. Moving to Swift 4 is a firm decision to break backwards compatibility with those using Xcode 8 still. It likely won't happen

[2017-10-18 21:44] #90 closed

[2017-10-20 10:15] jackdewhurst opened #92 "Adding as a development pod throws error due to podspec file"
Hi,

I'm trying to add ContentfulDeliveryAPI as a development cocoapod but It fails to install when running `pod install` due to the following error:

[!] Failed to load 'ContentfulDeliveryAPI' podspec:
[!] Invalid ContentfulDeliveryAPI.podspec file: cannot load such file -- dotenv/load.
--
The offending line in podspec is:

I've tried adding `.env` from the project to the same directory but it di

[2017-10-20 10:35] jackdewhurst commented on #92
Ok I've fixed it by editing the podspec and removing the requirement for `.env`, then manually entering the sdk version number in line '`s.version`

Closing the issue.

[2017-10-20 10:35] #92 closed

[2017-10-20 18:22] loudmouth commented on #92
@jackdewhurst you can run bundle install inside the Contentful project directory and that should also solve it

[2017-11-02 14:24] loudmouth commented on #92
@jackdewhurst just a quick correction for my earlier comment: the proper solution is to add

[code]

to your Gemfile and use `bundle exec pod install` as opposed to a regular `pod install` if you plan on using development branches of contentful.

[2017-11-10 18:18] wmcbruce opened #93 "Unknown type CDAResponse"
Trying to integrate the CMA framework into a test project and I get unknown type errors for CDAResponse.

Using a very simple project pulling the content management api in via pods.

What am I missing?

[2017-11-13 14:10] loudmouth commented on #93
Hi @wmcbruce

I just fired up a new project with Xcode 9 and was able to successfully install the SDK and compile.
I'm using Cocoapods 1.3.1 via the Ruby Bundler, and therefore running the following command to install the Management API pod.

[code]

Here is the Podfile:

[code]

Are you attempting to use different versions than I have specified? I highly recommend the latest version of the CMA SD

[2018-04-11 19:09] loudmouth commented on #93
Closing do to inactivity. Also note the deprecation plan for the 'ContentfulManagementAPI'—to be deprecated July 13, 2018. See: #95

[2018-04-11 19:09] #93 closed

[2018-07-08 06:49] codehearted opened #99 "Please don't delete this repo"
I understand you are going to stop spending dev resources on this, but I found this Objective C version to be MUCH easier to use and more reliable than the Swift version, and out of need to be productive, I am using this on production code that is just coming out this month.. I'll fork this just in case, but I'd appreciate if you would keep it up for at least a two years, or better yet, indefinite

[2018-07-09 09:16] loudmouth commented on #99
Hi @codehearted

Thanks for your message; I really appreciate your passion around this topic. Rest assured that the repo will _never_ be deleted. However, at some point it will be deprecated, meaning that we'll shut off the ability to add new issues and it will be moved to a different Github org, [contentful-graveyard](http://github.com/contentful-graveyard/).

With both the Swift and Objective-C

[2018-07-12 20:33] codehearted commented on #99
Thank you. I will reply properly in 1-2 weeks, I apologize for the delay but I'm working toward a deadline that is critical.

[2018-07-30 09:34] #81 closed

[2018-12-11 10:36] axello commented on #53
Any status updates on certificate pinning in contentful?
Is it, for example, possible to retrieve the intermediate certificates used by contentful to implement it ourselves. Although in my opinion it needs to be part of the contentful SDK.